.right-sidebar{
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  right: -300px;
  background: $white;
  overflow-y: scroll;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, .05);
  transition: all .3s ease;
  z-index: 1200;
  .card-body{
    padding: 1rem 1.25rem;
  }
}

.right-sidebar.show{
  right: 0;
  transition: all .3s ease;
}

.close-sidebar-icon {
  font-weight: bold;
  color: $black-light;
  font-size: 20px;
  position: relative;
  right: 6px;
  &:hover{
    color: $purple-color-dark;
  }
}

.right-widget {
  margin-bottom: 3rem;
}

.cursor{
  cursor: pointer;
}